In [3]:
import pandas as pd
import numpy as np
from pathlib import Path
import os

In [10]:
files = []
folder_path = Path(os.getcwd()+"/../csvFiles")
for file in folder_path.glob('*.csv'):
    files.append(file)
for x in range(len(files)):
    print(str(x)+": "+str(files[x]))

0: C:\Users\Tyler\group project\DS-midterm_project\code\..\csvFiles\combined_results.csv
1: C:\Users\Tyler\group project\DS-midterm_project\code\..\csvFiles\flattened_data.csv
2: C:\Users\Tyler\group project\DS-midterm_project\code\..\csvFiles\location_data.csv
3: C:\Users\Tyler\group project\DS-midterm_project\code\..\csvFiles\merged_data.csv

In [15]:
merged_data = pd.read_csv(files[3])

In [17]:
merged_data

,status,list_date,list_price,price_reduced_amount,year_built,baths_3qtr,sold_date,sold_price,baths_full,baths_half,...,baths,sub_type,garage,stories,beds,type,city,county,lat,lon
0,sold,2023-06-29T21:16:25.000000Z,554950.0,45000.0,1963.0,NaN,2023-09-18,NaN,2.0,NaN,...,2.0,NaN,1.0,NaN,3.0,single_family,Alaska,Juneau,58.363950,-134.593720
1,sold,NaN,NaN,NaN,NaN,NaN,2023-08-22,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Alaska,Juneau,NaN,NaN
2,sold,NaN,NaN,NaN,NaN,NaN,2023-08-22,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Alaska,Juneau,NaN,NaN
3,sold,NaN,NaN,NaN,NaN,NaN,2023-08-21,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Alaska,Juneau,NaN,NaN
4,sold,NaN,NaN,NaN,NaN,NaN,2023-08-21,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Alaska,Juneau,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8154,sold,2023-04-05T19:28:04Z,98000.0,NaN,1910.0,NaN,2023-07-27,99000.0,1.0,NaN,...,1.0,NaN,1.0,2.0,3.0,single_family,West Virginia,Kanawha,38.341576,-81.644994
8155,sold,2023-05-28T02:25:28Z,49999.0,NaN,NaN,NaN,2023-07-27,29700.0,1.0,NaN,...,1.0,NaN,NaN,NaN,3.0,single_family,West Virginia,Kanawha,38.377371,-81.661662
8156,sold,2023-01-24T18:27:46Z,133000.0,NaN,NaN,NaN,2023-07-24,162250.0,1.0,NaN,...,1.0,NaN,NaN,NaN,3.0,single_family,West Virginia,Kanawha,38.338617,-81.659885
8157,sold,2023-03-24T12:27:42Z,75000.0,NaN,NaN,NaN,2023-07-24,63800.0,NaN,NaN,...,0.0,NaN,NaN,NaN,0.0,single_family,West Virginia,Kanawha,38.363038,-81.644214
8158,sold,2023-04-20T17:26:52Z,112600.0,NaN,1950.0,NaN,2023-07-21,115500.0,2.0,NaN,...,2.0,NaN,NaN,NaN,3.0,single_family,West Virginia,Kanawha,38.377955,-81.640806

In [29]:
ls = []
for col in merged_data:
    null_percentage = merged_data[col].isnull().mean() * 100
    print(null_percentage)
    if null_percentage > 60:
        ls.append(col)
for col in ls:
    merged_data = merged_data.drop(col,axis = 1)

0.0
4.988356416227479
5.3683049393308
10.33214854761613
0.0
17.68599093026106
10.393430567471503
14.315479838215467
10.246353719818606
2.1938963108224048
45.4835151366589
23.274911141071208
8.02794460105405
0.41671773501654613
0.0
0.12256403971074886
3.0641009927687217
3.0641009927687217

In [31]:
merged_data.to_csv("r_merged_data.csv")